RISK_FREE_RATE=0.053
MIN_POP_THRESHOLD=0.70
MIN_COMPOSITE_SCORE=65
MAX_SPREAD_PCT=0.20
MIN_VOLUME=100
MIN_OI=500
EARNINGS_BLACKOUT_DAYS=5
MONTE_CARLO_PATHS=10000
UNIVERSE_TOP_N=50
UNIVERSE_MIN_AVG_VOLUME=1000000
